duckduckgo-search
google-search-results
gradio_client
huggingface_hub
ipykernel
langchain-community
markdownify
matplotlib
numpy
smolagents[telemetry]
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-smolagents