duckduckgo-search
geopandas
geopy
google-search-results
gradio_client
helium
huggingface_hub
ipykernel
kaleido
langchain-community
markdownify
matplotlib
numpy
shapely
smolagents[telemetry]
smolagents[litellm]
opentelemetry-sdk
opentelemetry-exporter-otlp
openinference-instrumentation-smolagents
plotly
rank_bm25